body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1459px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:922px;
  height:380px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9412 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:230px;
  width:922px;
  height:380px;
}
#u9412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9413 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:68px;
  width:195px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9413_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u9414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:904px;
  height:2px;
}
#u9414 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:99px;
  width:903px;
  height:1px;
}
#u9414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9415 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:354px;
  width:60px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u9416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:68px;
}
#u9416 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:634px;
  width:289px;
  height:67px;
  color:#FF0000;
  text-align:left;
}
#u9416_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:285px;
  word-wrap:break-word;
}
#u9417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9417 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:354px;
  width:81px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u9418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u9418 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:354px;
  width:81px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u9418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u9419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u9419 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:393px;
  width:23px;
  height:22px;
}
#u9419_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:19px;
}
#u9420 {
  border-width:0px;
  position:absolute;
  left:1104px;
  top:396px;
  width:26px;
  height:19px;
}
#u9420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u9421 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:354px;
  width:81px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u9421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u9422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:2px;
}
#u9422 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:379px;
  width:853px;
  height:1px;
}
#u9422_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:2px;
}
#u9423 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:425px;
  width:853px;
  height:1px;
}
#u9423_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:2px;
}
#u9424 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:472px;
  width:853px;
  height:1px;
}
#u9424_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9425 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:369px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9425_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u9425_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:302px;
}
#u9425_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:295px;
  width:112px;
  height:8px;
}
#u9425_seg3 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:289px;
  width:20px;
  height:20px;
}
#u9425_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:196px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:68px;
}
#u9426 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:509px;
  width:289px;
  height:67px;
  color:#FF0000;
  text-align:left;
}
#u9426_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:285px;
  word-wrap:break-word;
}
#u9427 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:415px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9427_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:132px;
}
#u9427_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:124px;
  width:57px;
  height:8px;
}
#u9427_seg2 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:118px;
  width:20px;
  height:20px;
}
#u9427_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:82px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9428 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:354px;
  width:81px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9428_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u9429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9429 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:400px;
  width:173px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9429_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u9430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9430 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:446px;
  width:173px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u9431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9431 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:489px;
  width:173px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u9432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9432 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:121px;
  width:195px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9432_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u9433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9433 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:150px;
  width:195px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9433_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u9434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9434 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:250px;
  width:195px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9434_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u9435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:904px;
  height:2px;
}
#u9435 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:281px;
  width:903px;
  height:1px;
}
#u9435_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9436 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:354px;
  width:81px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9436_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u9437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9437 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:354px;
  width:81px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u9438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u9438 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:354px;
  width:42px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u9438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u9440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:735px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9440 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:55px;
  width:232px;
  height:735px;
}
#u9440_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u9441 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:82px;
  width:197px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u9441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u9442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u9442 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:166px;
  width:124px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u9442_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u9443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u9443 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:114px;
  width:213px;
  height:1px;
}
#u9443_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u9444 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:135px;
  width:124px;
  height:15px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u9444_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u9445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u9445 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:191px;
  width:124px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u9445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u9446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u9446 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:281px;
  width:124px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u9446_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u9447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u9447 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:250px;
  width:124px;
  height:15px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u9447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u9448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u9448 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:309px;
  width:124px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u9448_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u9449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u9449 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:336px;
  width:124px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u9449_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u9450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u9450 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:364px;
  width:124px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u9450_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u9451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u9451 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:389px;
  width:124px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u9451_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u9452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9452 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:121px;
  width:60px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9452_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u9453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9453 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:150px;
  width:60px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9453_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u9454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9454 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:175px;
  width:195px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9454_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u9455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9455 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:175px;
  width:60px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9455_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u9456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9456 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:200px;
  width:195px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9456_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u9457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9457 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:200px;
  width:60px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9457_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
