body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:812px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  height:450px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:782px;
  height:450px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:217px;
  width:778px;
  visibility:hidden;
  word-wrap:break-word;
}
