body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1136px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:578px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-10px;
  width:1136px;
  height:578px;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:281px;
  width:1132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:58px;
  width:227px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:758px;
  height:331px;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:96px;
  width:758px;
  height:331px;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:158px;
  width:754px;
  visibility:hidden;
  word-wrap:break-word;
}
