body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:429px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:729px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.87843137254902);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(42, 42, 42, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u7993 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:329px;
  height:729px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u7993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:22px;
}
#u7994 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:103px;
  width:321px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u7994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:193px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u7995 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:129px;
  width:321px;
  height:193px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u7995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u7996 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:333px;
  width:321px;
  height:140px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u7996_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7997 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:347px;
  width:92px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u7998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u7999 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:144px;
  width:21px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u7999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8000 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:138px;
  width:25px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u8000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u8001 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:175px;
  width:70px;
  height:70px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u8001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u8002 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:283px;
  width:92px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u8002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u8003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:2px;
}
#u8003 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:372px;
  width:306px;
  height:1px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u8003_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u8004 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:350px;
  width:112px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u8004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u8005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u8005 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:434px;
  width:76px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u8005_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u8006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u8006 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:434px;
  width:76px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u8006_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u8007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u8007 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:434px;
  width:76px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u8007_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u8008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u8008 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:434px;
  width:76px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u8008_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u8009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u8009 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:483px;
  width:321px;
  height:55px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u8009_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8010 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:502px;
  width:92px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8010_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u8011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u8011 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:617px;
  width:321px;
  height:55px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u8011_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8012 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:636px;
  width:92px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u8013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u8013 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:501px;
  width:21px;
  height:19px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u8013_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u8014 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:633px;
  width:21px;
  height:19px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u8014_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:37px;
}
#u8015 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:387px;
  width:66px;
  height:37px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u8015_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:37px;
}
#u8016 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:387px;
  width:66px;
  height:37px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u8016_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:37px;
}
#u8017 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:387px;
  width:66px;
  height:37px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u8017_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:37px;
}
#u8018 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:387px;
  width:66px;
  height:37px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u8018_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u8019 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:548px;
  width:321px;
  height:55px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u8019_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8020 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:567px;
  width:119px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8020_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u8021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u8021 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:565px;
  width:21px;
  height:19px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u8021_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u8022 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:682px;
  width:321px;
  height:55px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u8022_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8023 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:701px;
  width:92px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8023_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u8024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u8024 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:764px;
  width:21px;
  height:19px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u8024_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u8025 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:756px;
  width:301px;
  height:50px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u8025_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:297px;
  word-wrap:break-word;
}
