body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1224px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:852px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.87843137254902);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(42, 42, 42, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u15968 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:73px;
  width:329px;
  height:852px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u15969 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:418px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:20px;
}
#u15970 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:76px;
  width:321px;
  height:20px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u15971 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u15972 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:98px;
  width:321px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u15973 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:771px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u15974 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:144px;
  width:321px;
  height:771px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u15975 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:378px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:2px;
}
#u15976 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:144px;
  width:294px;
  height:1px;
}
#u15977 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:175px;
}
#u15978 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:188px;
  width:301px;
  height:175px;
}
#u15979 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15980 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:373px;
  width:301px;
  height:43px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  word-wrap:break-word;
}
#u15982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u15982 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:418px;
  width:54px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u15983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u15984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u15984 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:418px;
  width:54px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u15985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u15986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
}
#u15986 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:419px;
  width:21px;
  height:14px;
}
#u15987 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:2px;
}
#u15988 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:449px;
  width:301px;
  height:1px;
}
#u15989 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u15990 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:107px;
  width:116px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u15991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u15992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u15992 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:104px;
  width:20px;
  height:21px;
}
#u15993 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u15994 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:155px;
  width:49px;
  height:16px;
  text-align:center;
}
#u15995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u15996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
}
#u15996 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:151px;
  width:18px;
  height:24px;
}
#u15997 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15998 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:155px;
  width:34px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u16000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16000 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:155px;
  width:34px;
  height:16px;
}
#u16001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u16002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
}
#u16002 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:151px;
  width:18px;
  height:24px;
}
#u16003 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:175px;
}
#u16004 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:475px;
  width:301px;
  height:175px;
}
#u16005 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16006 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:660px;
  width:301px;
  height:43px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  word-wrap:break-word;
}
#u16008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u16008 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:705px;
  width:54px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u16009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u16010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u16010 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:705px;
  width:54px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u16011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u16012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
}
#u16012 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:706px;
  width:21px;
  height:14px;
}
#u16013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:2px;
}
#u16014 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:736px;
  width:301px;
  height:1px;
}
#u16015 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:147px;
}
#u16016 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:768px;
  width:301px;
  height:147px;
}
#u16017 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16018 {
  position:fixed;
  left:105px;
  bottom:0px;
  width:324px;
  height:196px;
  overflow:hidden;
}
#u16018_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:196px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16018_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u16019 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:140px;
  width:48px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u16020 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u16021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u16021 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:200px;
  width:25px;
  height:24px;
}
#u16022 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u16023 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:80px;
  width:48px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u16024 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u16025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:852px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.87843137254902);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(42, 42, 42, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u16025 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:73px;
  width:329px;
  height:852px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u16026 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:418px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:20px;
}
#u16027 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:76px;
  width:321px;
  height:20px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u16028 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u16029 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:98px;
  width:321px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u16030 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:771px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u16031 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:144px;
  width:321px;
  height:771px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u16032 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:378px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:2px;
}
#u16033 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:144px;
  width:294px;
  height:1px;
}
#u16034 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:175px;
}
#u16035 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:188px;
  width:301px;
  height:175px;
}
#u16036 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16037 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:373px;
  width:301px;
  height:21px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  word-wrap:break-word;
}
#u16039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u16039 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:418px;
  width:54px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u16040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u16041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u16041 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:418px;
  width:54px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u16042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u16043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
}
#u16043 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:419px;
  width:21px;
  height:14px;
}
#u16044 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:2px;
}
#u16045 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:449px;
  width:301px;
  height:1px;
}
#u16046 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u16047 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:107px;
  width:116px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u16048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u16049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u16049 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:104px;
  width:20px;
  height:21px;
}
#u16050 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u16051 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:155px;
  width:49px;
  height:16px;
  text-align:center;
}
#u16052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u16053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
}
#u16053 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:151px;
  width:18px;
  height:24px;
}
#u16054 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16055 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:155px;
  width:34px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u16057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16057 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:155px;
  width:34px;
  height:16px;
}
#u16058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u16059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
}
#u16059 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:151px;
  width:18px;
  height:24px;
}
#u16060 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:175px;
}
#u16061 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:475px;
  width:301px;
  height:175px;
}
#u16062 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16063 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:660px;
  width:301px;
  height:43px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  word-wrap:break-word;
}
#u16065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u16065 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:705px;
  width:54px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u16066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u16067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u16067 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:705px;
  width:54px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u16068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u16069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
}
#u16069 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:706px;
  width:21px;
  height:14px;
}
#u16070 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:2px;
}
#u16071 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:736px;
  width:301px;
  height:1px;
}
#u16072 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:147px;
}
#u16073 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:768px;
  width:301px;
  height:147px;
}
#u16074 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16075 {
  position:fixed;
  left:510px;
  bottom:0px;
  width:324px;
  height:196px;
  overflow:hidden;
}
#u16075_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:196px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16075_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u16076 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:140px;
  width:48px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u16077 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u16078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u16078 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:200px;
  width:25px;
  height:24px;
}
#u16079 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u16080 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:80px;
  width:48px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u16081 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u16082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u16082 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:104px;
  width:25px;
  height:25px;
}
#u16083 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u16084 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:104px;
  width:25px;
  height:25px;
}
#u16085 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:852px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.87843137254902);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(42, 42, 42, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u16086 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:76px;
  width:329px;
  height:852px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u16087 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:418px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:20px;
}
#u16088 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:79px;
  width:321px;
  height:20px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u16089 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u16090 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:101px;
  width:321px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u16091 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:771px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u16092 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:147px;
  width:321px;
  height:771px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u16093 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:378px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:2px;
}
#u16094 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:147px;
  width:294px;
  height:1px;
}
#u16095 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:175px;
}
#u16096 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:191px;
  width:301px;
  height:175px;
}
#u16097 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16098 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:376px;
  width:301px;
  height:21px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16099 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  word-wrap:break-word;
}
#u16100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u16100 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:421px;
  width:54px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u16101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u16102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u16102 {
  border-width:0px;
  position:absolute;
  left:1153px;
  top:421px;
  width:54px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u16103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u16104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
}
#u16104 {
  border-width:0px;
  position:absolute;
  left:1160px;
  top:422px;
  width:21px;
  height:14px;
}
#u16105 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:2px;
}
#u16106 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:452px;
  width:301px;
  height:1px;
}
#u16107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u16108 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:110px;
  width:116px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u16109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u16110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u16110 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:107px;
  width:20px;
  height:21px;
}
#u16111 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u16112 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:158px;
  width:49px;
  height:16px;
  text-align:center;
}
#u16113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u16114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
}
#u16114 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:154px;
  width:18px;
  height:24px;
}
#u16115 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16116 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:158px;
  width:34px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u16118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16118 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:158px;
  width:34px;
  height:16px;
}
#u16119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u16120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
}
#u16120 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:154px;
  width:18px;
  height:24px;
}
#u16121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:175px;
}
#u16122 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:478px;
  width:301px;
  height:175px;
}
#u16123 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16124 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:663px;
  width:301px;
  height:43px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  word-wrap:break-word;
}
#u16126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u16126 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:708px;
  width:54px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u16127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u16128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u16128 {
  border-width:0px;
  position:absolute;
  left:1153px;
  top:708px;
  width:54px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u16129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u16130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
}
#u16130 {
  border-width:0px;
  position:absolute;
  left:1160px;
  top:709px;
  width:21px;
  height:14px;
}
#u16131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:2px;
}
#u16132 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:739px;
  width:301px;
  height:1px;
}
#u16133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:147px;
}
#u16134 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:771px;
  width:301px;
  height:147px;
}
#u16135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u16136 {
  border-width:0px;
  position:absolute;
  left:1175px;
  top:107px;
  width:25px;
  height:25px;
}
#u16137 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.788235294117647);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u16138 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:191px;
  width:87px;
  height:37px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u16139 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u16140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u16140 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:159px;
  width:80px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u16141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u16142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u16142 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:154px;
  width:29px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u16143 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.788235294117647);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u16144 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:481px;
  width:87px;
  height:37px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u16145 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u16146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.788235294117647);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u16146 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:723px;
  width:87px;
  height:37px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u16147 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u16148 {
  position:fixed;
  left:899px;
  bottom:0px;
  width:324px;
  height:196px;
  overflow:hidden;
}
#u16148_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:196px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16148_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u16149 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:140px;
  width:48px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u16150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u16151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u16151 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:200px;
  width:25px;
  height:24px;
}
#u16152 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u16153 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:80px;
  width:48px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u16154 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u16155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u16155 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:103px;
  width:29px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u16156 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u16157 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:100px;
  width:29px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u16158 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u16159 {
  border-width:0px;
  position:absolute;
  left:1097px;
  top:104px;
  width:29px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u16160 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
