body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:867px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.87843137254902);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(42, 42, 42, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9330 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:73px;
  width:329px;
  height:867px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9330_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:20px;
}
#u9331 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:76px;
  width:321px;
  height:20px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9331_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:784px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9332 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:148px;
  width:321px;
  height:784px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9332_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9333 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:98px;
  width:321px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9333_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9334 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:164px;
  width:97px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9334_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u9335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u9335 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:160px;
  width:86px;
  height:15px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u9335_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:2px;
}
#u9336 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:144px;
  width:294px;
  height:1px;
}
#u9336_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u9337 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:107px;
  width:116px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u9337_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u9338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9338 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:102px;
  width:25px;
  height:25px;
}
#u9338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9339 {
  position:fixed;
  left:103px;
  bottom:0px;
  width:324px;
  height:196px;
  overflow:hidden;
}
#u9339_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:196px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9339_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u9340 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:140px;
  width:48px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u9340_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:44px;
  word-wrap:break-word;
}
#u9341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u9341 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:200px;
  width:25px;
  height:24px;
}
#u9341_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u9342 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:80px;
  width:48px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u9342_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:44px;
  word-wrap:break-word;
}
#u9343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u9343 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:104px;
  width:20px;
  height:21px;
}
#u9343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:76px;
}
#u9344 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:205px;
  width:78px;
  height:76px;
}
#u9344_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:74px;
  word-wrap:break-word;
}
#u9345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:76px;
}
#u9345 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:205px;
  width:78px;
  height:76px;
}
#u9345_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:74px;
  word-wrap:break-word;
}
#u9346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:76px;
}
#u9346 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:205px;
  width:78px;
  height:76px;
}
#u9346_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:74px;
  word-wrap:break-word;
}
#u9347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9347 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:310px;
  width:97px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9347_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u9348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:41px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9348 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:291px;
  width:92px;
  height:41px;
}
#u9348_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u9349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:2px;
}
#u9349 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:336px;
  width:292px;
  height:1px;
}
#u9349_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:867px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.87843137254902);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(42, 42, 42, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9350 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:73px;
  width:329px;
  height:867px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9350_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:20px;
}
#u9351 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:76px;
  width:321px;
  height:20px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9351_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:784px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9352 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:148px;
  width:321px;
  height:784px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9352_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9353 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:98px;
  width:321px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9353_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u9354 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:160px;
  width:86px;
  height:15px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u9354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:2px;
}
#u9355 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:144px;
  width:294px;
  height:1px;
}
#u9355_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u9356 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:107px;
  width:116px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u9356_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u9357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9357 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:102px;
  width:25px;
  height:25px;
}
#u9357_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9358 {
  position:fixed;
  left:464px;
  bottom:0px;
  width:324px;
  height:196px;
  overflow:hidden;
}
#u9358_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:196px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9358_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u9359 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:140px;
  width:48px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u9359_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:44px;
  word-wrap:break-word;
}
#u9360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u9360 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:200px;
  width:25px;
  height:24px;
}
#u9360_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u9361 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:80px;
  width:48px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u9361_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:44px;
  word-wrap:break-word;
}
#u9362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u9362 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:104px;
  width:20px;
  height:21px;
}
#u9362_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u9363 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:361px;
  width:42px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u9363_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u9364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u9364 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:354px;
  width:29px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9364_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u9365 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:361px;
  width:42px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u9365_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u9366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u9366 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:354px;
  width:29px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9366_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:177px;
}
#u9367 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:149px;
  width:320px;
  height:177px;
}
#u9367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9368 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:350px;
  width:97px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9368_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u9369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u9369 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:376px;
  width:320px;
  height:1px;
}
#u9369_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
