body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:867px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.87843137254902);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(42, 42, 42, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9653 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:73px;
  width:329px;
  height:867px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:20px;
}
#u9654 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:76px;
  width:321px;
  height:20px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:784px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9655 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:148px;
  width:321px;
  height:784px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9656 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:98px;
  width:321px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9657 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:164px;
  width:97px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u9658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u9658 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:160px;
  width:86px;
  height:15px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u9658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:2px;
}
#u9659 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:144px;
  width:294px;
  height:1px;
}
#u9659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u9660 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:107px;
  width:116px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u9660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u9661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9661 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:102px;
  width:25px;
  height:25px;
}
#u9661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9662 {
  position:fixed;
  left:103px;
  bottom:0px;
  width:324px;
  height:196px;
  overflow:hidden;
}
#u9662_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:196px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9662_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u9663 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:140px;
  width:48px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u9663_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:44px;
  word-wrap:break-word;
}
#u9664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u9664 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:200px;
  width:25px;
  height:24px;
}
#u9664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u9665 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:80px;
  width:48px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u9665_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:44px;
  word-wrap:break-word;
}
#u9666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u9666 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:104px;
  width:20px;
  height:21px;
}
#u9666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:76px;
}
#u9667 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:205px;
  width:78px;
  height:76px;
}
#u9667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:74px;
  word-wrap:break-word;
}
#u9668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:76px;
}
#u9668 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:205px;
  width:78px;
  height:76px;
}
#u9668_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:74px;
  word-wrap:break-word;
}
#u9669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:76px;
}
#u9669 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:205px;
  width:78px;
  height:76px;
}
#u9669_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:74px;
  word-wrap:break-word;
}
#u9670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9670 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:310px;
  width:97px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u9671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:41px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9671 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:291px;
  width:92px;
  height:41px;
}
#u9671_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u9672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:2px;
}
#u9672 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:336px;
  width:292px;
  height:1px;
}
#u9672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:867px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.87843137254902);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(42, 42, 42, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9673 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:73px;
  width:329px;
  height:867px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:20px;
}
#u9674 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:76px;
  width:321px;
  height:20px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:784px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9675 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:148px;
  width:321px;
  height:784px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9676 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:98px;
  width:321px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u9677 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:160px;
  width:86px;
  height:15px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u9677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:2px;
}
#u9678 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:144px;
  width:294px;
  height:1px;
}
#u9678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u9679 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:107px;
  width:116px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u9679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u9680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9680 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:102px;
  width:25px;
  height:25px;
}
#u9680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9681 {
  position:fixed;
  left:464px;
  bottom:0px;
  width:324px;
  height:196px;
  overflow:hidden;
}
#u9681_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:196px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9681_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u9682 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:140px;
  width:48px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u9682_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:44px;
  word-wrap:break-word;
}
#u9683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u9683 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:200px;
  width:25px;
  height:24px;
}
#u9683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u9684 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:80px;
  width:48px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u9684_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:44px;
  word-wrap:break-word;
}
#u9685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u9685 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:104px;
  width:20px;
  height:21px;
}
#u9685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u9686 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:361px;
  width:42px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u9686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u9687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u9687 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:354px;
  width:29px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u9688 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:361px;
  width:42px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u9688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u9689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u9689 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:354px;
  width:29px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:177px;
}
#u9690 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:149px;
  width:320px;
  height:177px;
}
#u9690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9691 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:350px;
  width:97px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u9692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u9692 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:376px;
  width:320px;
  height:1px;
}
#u9692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
