body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1364px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1202px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:8px;
  width:1200px;
  height:1202px;
  font-size:14px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:593px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  height:507px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u837 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:234px;
  width:869px;
  height:507px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:246px;
  width:865px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:44px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:261px;
  width:89px;
  height:43px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:85px;
  word-wrap:break-word;
}
#u841 {
  position:absolute;
  left:549px;
  top:326px;
}
#u841_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:436px;
  height:304px;
  background-image:none;
}
#u841_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:300px;
  height:47px;
}
#u842_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:47px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:109px;
  width:300px;
  height:47px;
}
#u843_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:47px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:49px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:300px;
  height:49px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:51px;
  width:114px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:38px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:114px;
  width:1px;
  height:37px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850 {
  position:absolute;
  left:204px;
  top:125px;
}
#u850_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background-image:none;
}
#u850_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u850_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
  visibility:hidden;
  background-image:none;
}
#u850_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:266px;
  width:300px;
  height:1px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:285px;
  width:20px;
  height:18px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:285px;
  width:19px;
  height:17px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:284px;
  width:20px;
  height:20px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:287px;
  width:114px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:0px;
  width:114px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:174px;
  width:114px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:174px;
  width:81px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u841_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:477px;
  height:304px;
  visibility:hidden;
  background-image:none;
}
#u841_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:300px;
  height:47px;
}
#u871_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:47px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:109px;
  width:300px;
  height:47px;
}
#u872_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:47px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:49px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:300px;
  height:49px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:0px;
  width:114px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:266px;
  width:300px;
  height:1px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:174px;
  width:127px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:174px;
  width:1px;
  height:16px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:174px;
  width:62px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:285px;
  width:20px;
  height:18px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:285px;
  width:19px;
  height:17px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:284px;
  width:20px;
  height:20px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:174px;
  width:65px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:287px;
  width:114px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:51px;
  width:114px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:85px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:85px;
  width:141px;
  height:84px;
  color:#FF0000;
  text-align:left;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:137px;
  word-wrap:break-word;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:61px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u899_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u899_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:62px;
  width:36px;
  height:8px;
}
#u899_seg2 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:56px;
  width:20px;
  height:20px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:41px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:128px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:408px;
  width:221px;
  height:127px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:217px;
  word-wrap:break-word;
}
#u904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#979797;
  text-align:center;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:1078px;
  width:72px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#979797;
  text-align:center;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:1081px;
  width:1px;
  height:15px;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#979797;
  text-align:center;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:1078px;
  width:74px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#979797;
  text-align:center;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:1081px;
  width:1px;
  height:15px;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#979797;
  text-align:center;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:1078px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#979797;
  text-align:center;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#979797;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:1106px;
  width:606px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#979797;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  word-wrap:break-word;
}
#u916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1197px;
  height:2px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:975px;
  width:1196px;
  height:1px;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1192px;
  visibility:hidden;
  word-wrap:break-word;
}
