body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:867px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.87843137254902);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(42, 42, 42, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u18217 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:73px;
  width:329px;
  height:867px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u18218 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:426px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:20px;
}
#u18219 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:76px;
  width:321px;
  height:20px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u18220 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:784px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u18221 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:148px;
  width:321px;
  height:784px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u18222 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:384px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u18223 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:98px;
  width:321px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u18224 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u18225 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:164px;
  width:97px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u18226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u18227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u18227 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:160px;
  width:86px;
  height:15px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u18228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:2px;
}
#u18229 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:144px;
  width:294px;
  height:1px;
}
#u18230 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u18231 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:107px;
  width:116px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u18232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u18233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u18233 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:102px;
  width:25px;
  height:25px;
}
#u18234 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18235 {
  position:fixed;
  left:103px;
  bottom:0px;
  width:324px;
  height:196px;
  overflow:hidden;
}
#u18235_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:196px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18235_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u18236 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:140px;
  width:48px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u18237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u18238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u18238 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:200px;
  width:25px;
  height:24px;
}
#u18239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u18240 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:80px;
  width:48px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u18241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u18242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u18242 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:104px;
  width:20px;
  height:21px;
}
#u18243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:77px;
}
#u18244 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:205px;
  width:78px;
  height:76px;
}
#u18245 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:74px;
  word-wrap:break-word;
}
#u18246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:77px;
}
#u18246 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:205px;
  width:78px;
  height:76px;
}
#u18247 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:74px;
  word-wrap:break-word;
}
#u18248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:77px;
}
#u18248 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:205px;
  width:78px;
  height:76px;
}
#u18249 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:74px;
  word-wrap:break-word;
}
#u18250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u18250 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:310px;
  width:97px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u18251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u18252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:41px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18252 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:291px;
  width:92px;
  height:41px;
}
#u18253 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u18254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:2px;
}
#u18254 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:336px;
  width:292px;
  height:1px;
}
#u18255 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:867px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.87843137254902);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(42, 42, 42, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u18256 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:73px;
  width:329px;
  height:867px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u18257 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:426px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:20px;
}
#u18258 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:76px;
  width:321px;
  height:20px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u18259 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:784px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u18260 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:148px;
  width:321px;
  height:784px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u18261 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:384px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u18262 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:98px;
  width:321px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u18263 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u18264 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:160px;
  width:86px;
  height:15px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u18265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:2px;
}
#u18266 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:144px;
  width:294px;
  height:1px;
}
#u18267 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u18268 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:107px;
  width:116px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u18269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u18270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u18270 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:102px;
  width:25px;
  height:25px;
}
#u18271 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18272 {
  position:fixed;
  left:464px;
  bottom:0px;
  width:324px;
  height:196px;
  overflow:hidden;
}
#u18272_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:196px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18272_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u18273 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:140px;
  width:48px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u18274 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u18275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u18275 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:200px;
  width:25px;
  height:24px;
}
#u18276 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u18277 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:80px;
  width:48px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u18278 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u18279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u18279 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:104px;
  width:20px;
  height:21px;
}
#u18280 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u18281 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:361px;
  width:42px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u18282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u18283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u18283 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:354px;
  width:29px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18284 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u18285 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:361px;
  width:42px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u18286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u18287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u18287 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:354px;
  width:29px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18288 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:178px;
}
#u18289 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:149px;
  width:320px;
  height:177px;
}
#u18290 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u18291 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:350px;
  width:97px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u18292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u18293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u18293 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:376px;
  width:320px;
  height:1px;
}
#u18294 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
