body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:867px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.87843137254902);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(42, 42, 42, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u10248 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:73px;
  width:329px;
  height:867px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u10249 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:426px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:20px;
}
#u10250 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:76px;
  width:321px;
  height:20px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u10251 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:784px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u10252 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:148px;
  width:321px;
  height:784px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u10253 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:384px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u10254 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:98px;
  width:321px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u10255 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u10256 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:164px;
  width:97px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u10257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u10258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u10258 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:160px;
  width:86px;
  height:15px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u10259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:2px;
}
#u10260 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:144px;
  width:294px;
  height:1px;
}
#u10261 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u10262 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:107px;
  width:116px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u10263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u10264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10264 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:102px;
  width:25px;
  height:25px;
}
#u10265 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10266 {
  position:fixed;
  left:103px;
  bottom:0px;
  width:324px;
  height:196px;
  overflow:hidden;
}
#u10266_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:196px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10266_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u10267 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:140px;
  width:48px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u10268 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u10269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u10269 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:200px;
  width:25px;
  height:24px;
}
#u10270 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u10271 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:80px;
  width:48px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u10272 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u10273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u10273 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:104px;
  width:20px;
  height:21px;
}
#u10274 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:77px;
}
#u10275 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:205px;
  width:78px;
  height:76px;
}
#u10276 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:74px;
  word-wrap:break-word;
}
#u10277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:77px;
}
#u10277 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:205px;
  width:78px;
  height:76px;
}
#u10278 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:74px;
  word-wrap:break-word;
}
#u10279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:77px;
}
#u10279 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:205px;
  width:78px;
  height:76px;
}
#u10280 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:74px;
  word-wrap:break-word;
}
#u10281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u10281 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:310px;
  width:97px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u10282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u10283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:41px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10283 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:291px;
  width:92px;
  height:41px;
}
#u10284 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u10285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:2px;
}
#u10285 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:336px;
  width:292px;
  height:1px;
}
#u10286 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:867px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.87843137254902);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(42, 42, 42, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u10287 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:73px;
  width:329px;
  height:867px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u10288 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:426px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:20px;
}
#u10289 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:76px;
  width:321px;
  height:20px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u10290 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:784px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u10291 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:148px;
  width:321px;
  height:784px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u10292 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:384px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u10293 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:98px;
  width:321px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u10294 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u10295 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:160px;
  width:86px;
  height:15px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u10296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:2px;
}
#u10297 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:144px;
  width:294px;
  height:1px;
}
#u10298 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u10299 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:107px;
  width:116px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u10300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u10301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10301 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:102px;
  width:25px;
  height:25px;
}
#u10302 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10303 {
  position:fixed;
  left:464px;
  bottom:0px;
  width:324px;
  height:196px;
  overflow:hidden;
}
#u10303_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:196px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10303_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u10304 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:140px;
  width:48px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u10305 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u10306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u10306 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:200px;
  width:25px;
  height:24px;
}
#u10307 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u10308 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:80px;
  width:48px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u10309 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u10310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u10310 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:104px;
  width:20px;
  height:21px;
}
#u10311 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u10312 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:361px;
  width:42px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u10313 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u10314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u10314 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:354px;
  width:29px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10315 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u10316 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:361px;
  width:42px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u10317 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u10318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u10318 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:354px;
  width:29px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10319 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:178px;
}
#u10320 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:149px;
  width:320px;
  height:177px;
}
#u10321 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u10322 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:350px;
  width:97px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u10323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u10324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u10324 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:376px;
  width:320px;
  height:1px;
}
#u10325 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
