body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1406px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1306px;
  height:1289px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:8px;
  width:1306px;
  height:1289px;
  font-size:14px;
}
#u341_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  height:507px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u342 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:234px;
  width:869px;
  height:507px;
}
#u342_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:43px;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:261px;
  width:89px;
  height:43px;
}
#u343_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:85px;
  word-wrap:break-word;
}
#u344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:326px;
  width:114px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:377px;
  width:114px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u345_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:359px;
  width:300px;
  height:47px;
}
#u346_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:434px;
  width:300px;
  height:47px;
}
#u347_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:49px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:619px;
  width:300px;
  height:49px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u348_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:582px;
  width:285px;
  height:28px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u349_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  word-wrap:break-word;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:506px;
  width:300px;
  height:47px;
}
#u350_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:581px;
  width:100px;
  height:16px;
}
#u351_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u351_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:1076px;
  width:85px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:1076px;
  width:90px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u355_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:1076px;
  width:100px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u356_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:1076px;
  width:88px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u357_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:1076px;
  width:118px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u358_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1107px;
  height:2px;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:1113px;
  width:1106px;
  height:1px;
}
#u359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:1134px;
  width:757px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u360_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  word-wrap:break-word;
}
#u361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:1071px;
  width:29px;
  height:27px;
}
#u361_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:1074px;
  width:26px;
  height:27px;
}
#u362_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:1078px;
  width:118px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u363_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:92px;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:932px;
  width:90px;
  height:92px;
  font-size:16px;
}
#u365_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:86px;
  word-wrap:break-word;
}
#u366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:92px;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:932px;
  width:90px;
  height:92px;
  font-size:16px;
}
#u366_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:86px;
  word-wrap:break-word;
}
#u367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:92px;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:932px;
  width:90px;
  height:92px;
  font-size:16px;
}
#u367_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:86px;
  word-wrap:break-word;
}
