body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1406px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1306px;
  height:3483px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7621 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:8px;
  width:1306px;
  height:3483px;
}
#u7622 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1734px;
  width:1302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1303px;
  height:368px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7623 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:138px;
  width:1303px;
  height:368px;
}
#u7624 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:176px;
  width:1299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:78px;
}
#u7626 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:585px;
  width:94px;
  height:78px;
}
#u7627 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u7628 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:603px;
  width:461px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u7629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  word-wrap:break-word;
}
#u7630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u7630 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:611px;
  width:134px;
  height:16px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u7631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u7632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u7632 {
  border-width:0px;
  position:absolute;
  left:1158px;
  top:611px;
  width:134px;
  height:16px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u7633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u7634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u7634 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:611px;
  width:134px;
  height:16px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u7635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u7637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7637 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:1469px;
  width:85px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u7639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7639 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:1469px;
  width:90px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u7641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7641 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:1469px;
  width:100px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u7643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7643 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:1469px;
  width:88px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u7645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7645 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:1469px;
  width:118px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u7647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1107px;
  height:2px;
}
#u7647 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:1506px;
  width:1106px;
  height:1px;
}
#u7648 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7649 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:1527px;
  width:757px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  word-wrap:break-word;
}
#u7651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u7651 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:1464px;
  width:29px;
  height:27px;
}
#u7652 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u7653 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:1467px;
  width:26px;
  height:27px;
}
#u7654 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7655 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:1466px;
  width:122px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u7657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:92px;
}
#u7658 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:1325px;
  width:90px;
  height:92px;
  font-size:16px;
}
#u7659 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:86px;
  word-wrap:break-word;
}
#u7660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:92px;
}
#u7660 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:1325px;
  width:90px;
  height:92px;
  font-size:16px;
}
#u7661 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:86px;
  word-wrap:break-word;
}
#u7662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:92px;
}
#u7662 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:1325px;
  width:90px;
  height:92px;
  font-size:16px;
}
#u7663 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:86px;
  word-wrap:break-word;
}
#u7664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u7664 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:98px;
  width:78px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u7665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u7666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:252px;
}
#u7666 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:211px;
  width:336px;
  height:252px;
}
#u7667 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:118px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7668 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:211px;
  width:449px;
  height:23px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  word-wrap:break-word;
}
#u7670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u7670 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:272px;
  width:353px;
  height:48px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u7671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  word-wrap:break-word;
}
#u7672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7672 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:448px;
  width:54px;
  height:15px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u7674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7674 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:448px;
  width:54px;
  height:15px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u7676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
}
#u7676 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:449px;
  width:21px;
  height:14px;
}
#u7677 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.749019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7678 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:211px;
  width:64px;
  height:27px;
  color:#FFFFFF;
}
#u7679 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u7680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:74px;
}
#u7680 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:712px;
  width:94px;
  height:74px;
}
#u7681 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1118px;
  height:2px;
}
#u7682 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:682px;
  width:1117px;
  height:1px;
}
#u7683 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u7684 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:729px;
  width:461px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u7685 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  word-wrap:break-word;
}
#u7686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u7686 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:729px;
  width:134px;
  height:16px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u7687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u7688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u7688 {
  border-width:0px;
  position:absolute;
  left:1158px;
  top:729px;
  width:134px;
  height:16px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u7689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u7690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u7690 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:737px;
  width:134px;
  height:16px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u7691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u7692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1118px;
  height:2px;
}
#u7692 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:824px;
  width:1117px;
  height:1px;
}
#u7693 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7694 {
  border-width:0px;
  position:absolute;
  left:1181px;
  top:91px;
  width:115px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7695 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u7696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u7696 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:165px;
  width:106px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u7697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u7698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u7698 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:542px;
  width:106px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u7699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u7700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
}
#u7700 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:165px;
  width:24px;
  height:16px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7701 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
}
#u7702 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:542px;
  width:24px;
  height:16px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7703 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7704 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:102px;
}
#u7705 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:211px;
  width:155px;
  height:102px;
}
#u7706 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7707 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:211px;
  width:249px;
  height:18px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7708 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u7709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u7709 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:246px;
  width:240px;
  height:16px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u7710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u7711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7711 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:298px;
  width:54px;
  height:15px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7712 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u7713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7713 {
  border-width:0px;
  position:absolute;
  left:1175px;
  top:298px;
  width:54px;
  height:15px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u7715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
}
#u7715 {
  border-width:0px;
  position:absolute;
  left:1147px;
  top:299px;
  width:21px;
  height:14px;
}
#u7716 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:102px;
}
#u7718 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:361px;
  width:155px;
  height:102px;
}
#u7719 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7720 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:361px;
  width:249px;
  height:18px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u7722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u7722 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:396px;
  width:240px;
  height:16px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u7723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u7724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7724 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:448px;
  width:54px;
  height:15px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u7726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7726 {
  border-width:0px;
  position:absolute;
  left:1175px;
  top:448px;
  width:54px;
  height:15px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u7728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
}
#u7728 {
  border-width:0px;
  position:absolute;
  left:1147px;
  top:449px;
  width:21px;
  height:14px;
}
#u7729 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7730 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:153px;
  width:66px;
  height:28px;
}
#u7731 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u7732 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:78px;
}
#u7733 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:869px;
  width:94px;
  height:78px;
}
#u7734 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u7735 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:887px;
  width:461px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u7736 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  word-wrap:break-word;
}
#u7737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u7737 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:895px;
  width:134px;
  height:16px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u7738 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u7739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u7739 {
  border-width:0px;
  position:absolute;
  left:1158px;
  top:895px;
  width:134px;
  height:16px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u7740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u7741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u7741 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:895px;
  width:134px;
  height:16px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u7742 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u7743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:74px;
}
#u7743 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:1015px;
  width:94px;
  height:74px;
}
#u7744 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1118px;
  height:2px;
}
#u7745 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:985px;
  width:1117px;
  height:1px;
}
#u7746 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u7747 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:1032px;
  width:461px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u7748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  word-wrap:break-word;
}
#u7749_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u7749 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:1032px;
  width:134px;
  height:16px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u7750 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u7751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u7751 {
  border-width:0px;
  position:absolute;
  left:1157px;
  top:1032px;
  width:134px;
  height:16px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u7752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u7753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u7753 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:1040px;
  width:134px;
  height:16px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u7754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u7755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1118px;
  height:2px;
}
#u7755 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:1127px;
  width:1117px;
  height:1px;
}
#u7756 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7757 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:78px;
}
#u7758 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:1172px;
  width:94px;
  height:78px;
}
#u7759 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u7760 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:1190px;
  width:461px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u7761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  word-wrap:break-word;
}
#u7762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u7762 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:1198px;
  width:134px;
  height:16px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u7763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u7764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u7764 {
  border-width:0px;
  position:absolute;
  left:1157px;
  top:1198px;
  width:134px;
  height:16px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u7765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u7766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u7766 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:1198px;
  width:134px;
  height:16px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u7767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u7768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:44px;
}
#u7768 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:17px;
  width:89px;
  height:43px;
}
#u7769 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:85px;
  word-wrap:break-word;
}
#u7770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7770 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:91px;
  width:81px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u7772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7772 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:91px;
  width:79px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7773 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u7774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7774 {
  border-width:0px;
  position:absolute;
  left:1088px;
  top:91px;
  width:80px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7776 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:211px;
  width:1101px;
  height:267px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
