body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:589px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:331px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:17px;
  width:432px;
  height:331px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:158px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
