body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:818px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:646px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:75px;
  width:812px;
  height:646px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:315px;
  width:808px;
  visibility:hidden;
  word-wrap:break-word;
}
